* {
    font-family: sans-serif;
    background-color: rgb(9, 9, 86);
}

body {
    position: relative;
}

.firstButton {
    margin-left: 47%;
    font-size: 150%;
}

#announcer  {
    font-size: 90%;
    opacity: 70%;
    color: aliceblue;
}

header {
    background-color: rgb(51, 0, 179);
    display: flex;
    height: 60px;
    justify-content: space-around;
}

header p {
    background-color: rgb(51, 0, 179);
}

header button {
    background-color: rgb(57, 14, 226);
    color: aliceblue;
}

h1 {
    display: flex;
    justify-content: center;
}

ul{
    flex-direction: column;
    margin-left: 40%;
}

header button:hover {
    background-color: blue;
}
