* {
    font-family: sans-serif;
}

.firstButton {
    margin-left: 46%;
    font-size: 150%;
}

#announcer  {
    font-size: 70%;
    opacity: 70%;
}

/* #timer {
    display: flex;
    justify-content: space-between;
} */

header {
    background-color: rgb(37, 67, 218);
    display: flex;
    justify-content: space-between;
}

header button {
    background-color: ;
}

h1 {
    display: flex;
    justify-content: center;
}

ul{
    flex-direction: column;
    margin-left: 40%;
}
